container_commands:
  01_create_storage_symlink:
    command: "ln -sfn /var/app/staging/storage/app/public /var/app/staging/public/storage"
    cwd: "/var/app/staging"

  02_create_profile_images_symlink:
    command: "ln -sfn /var/app/staging/storage/app/public/profile_images /var/app/staging/public/storage/profile_images"
    cwd: "/var/app/staging"

  03_fix_permissions_storage:
    command: "sudo chmod -R 775 /var/app/staging/storage && sudo chown -R webapp:webapp /var/app/staging/storage"
    cwd: "/var/app/staging"

  04_fix_permissions_cache:
    command: "sudo chmod -R 775 /var/app/staging/bootstrap/cache && sudo chown -R webapp:webapp /var/app/staging/bootstrap/cache"
    cwd: "/var/app/staging"
