container_commands:
  01_create_storage_symlink:
    command: "ln -sfn /var/app/staging/storage/app/public /var/app/staging/public/storage"
    cwd: "/var/app/staging"
02_create_profile_images_symlink:
    command: "ln -sfn /var/app/staging/storage/app/public/profile_images /var/app/staging/public/profile_images"
    cwd: "/var/app/staging"
