.email-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Set background color */
  padding-top: 50px; /* Add padding to the top */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 15px; /* Increase padding */
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  padding: 15px; /* Increase padding */
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical; /* Allow vertical resizing */
}

button {
  padding: 15px 20px; /* Increase padding */
  font-size: 16px;
  background-color: #007bff; /* Set background color */
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Remove hover effect */
button:hover {
  background-color: #007bff;
}
