// Button.scss

.button {
    @apply inline-flex items-center px-6 py-3 border border-transparent rounded-xl font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150;
    font-family: "Your Font Name", sans-serif;
    font-size: 14px;

    &.disabled {
        opacity: 0.25;
    }
}

.text-transform-none {
    text-transform: none !important; // Override any text-transform styles
}

.button-default {
    @extend .button;
    background-color: #6b538c; // Use #6b538c for the background color

    &:hover {
        background-color: #5c4677; // Adjust hover background color if needed
    }

    &:focus {
        background-color: #5c4677; // Adjust focus background color if needed
    }

    &:active {
        background-color: #493651; // Adjust active background color if needed
    }

    &.dark {
        background-color: #6b538c; // Use #6b538c for dark mode background color
    }

    &.dark:hover {
        background-color: #f9f9f9; // Adjust dark mode hover background color if needed
    }

    &.dark:focus {
        background-color: #f9f9f9; // Adjust dark mode focus background color if needed
    }

    &.dark:active {
        background-color: #dcdcdc; // Adjust dark mode active background color if needed
    }
}
